html,
body {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
}
div {
  display: block;
}
.header {
  padding: 10px 10px 10px 10px;
  background-color: #635d53;
}
.header img {
  width: 200px;
  height: 250px;
  margin: 0 auto 0 auto;
}
body {
  padding: 20px 20px 20px 20px;
  background-color: #ffffff;
}

.main-content {
  border: 10;
  padding: 30px 30px 30px 30px;
  margin: auto;
}
body {
  padding: 0 0 0 0;
}
.nav li {
  display: inline;
}
a {
  text-decoration: none;
  color: rgb(3, 90, 43);
}
a:hover {
  text-decoration: underline;
  color: rgb(56, 146, 201);
}
