.main {
  &-content3 {
    width: 35%;
    padding: 3.333% 3.333% 3.333% 3.333%;
    border: 1px solid $color-white;
    margin: 5% auto 5% auto;
    background: rgba(2, 93, 116, 0.5);
  }
  &-content3 form {
    display: inline;
  }
}

.comment {
  &-section {
    background: rgb(3, 104, 94);
    margin-top: 2%;
  }
  &-section form input[type="text"],
  &-section form input[type="email"],
  &-section form textarea {
    @extend %donate-input;
  }
  &-section ::placeholder {
    color: $color-white;
  }

  &-section form textarea {
    height: 30em;
    width: 100%;
  }

  &-section form {
    padding-bottom: 10px;
  }
  &-section form input[type="submit"] {
    border: $color-white;
  }
}
