.main {
  &-content1 {
    & {
      padding: 2.2222222222% 2.2222222222% 0.555555% 2.2222222222%;
      margin: 3% auto 0 auto;
      @include content(55%, rgba(6, 105, 80, 0.5), hidden);
    }
    p {
      @extend %text-main;
    }
    img {
      float: left;
      padding-right: 5.55555%;
      padding-bottom: 3.3333333%;
      @include img-size(62%, 20%);
    }
  }
  &-content2 {
    & {
      padding: 2% 2% 0.5% 2%;
      margin: 3% auto 0 auto;
      @include content(60%, rgba(2, 93, 116, 0.5), hidden);
    }
    p {
      @extend %text-main;
    }
    img {
      float: right;
      padding-left: 5%;
      padding-bottom: 5%;
      @include img-size(55%);
    }
  }
}
